@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
.container{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
   
}

.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.mobimechanic{
    cursor: pointer;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    float: left;
    font-family: 'Bungee Shade';
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}

.carousel-caption{
    left: 9%;
    bottom: 6rem;
}


nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 0px;
    border-radius: 7px;
    transition-duration: 0.5s;

}

nav ul li a{
    text-decoration: none;
    color: #000;
    padding: 30px 20px;
    font-size: 15px;
}

nav ul li:hover{
    transform: scale(1.1);
    background: #00d4ff;
}

nav ul li a:hover{
    color: #fff;
}
.card{
    transition: transform .2s;
    border-radius: 7px;
    box-shadow: 10px 7px 9px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 7px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 9px -1px rgba(0,0,0,0.75);
}
.card img{
    height: 30vh;
}
.card:hover{
    transform: scale(1.1);
}

.card-image{
    margin-bottom: 0;
}
.card-infor{
    font-size: 13px;
    margin: 1px;
}

.contactbt{
    text-decoration: none;
}
.contact{
    width: 100%;
    border: 0;
    padding:12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #00d4ff, #00d4ff);
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 400ms;
    transition-delay: 20ms;
    display: block;
    margin: auto; 
}

.contact:hover{
    transform: translateX(-3%);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.hired-m{
    width: 140px;
    height: 50px;
    border: 0;
    padding:5px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #00d4ff, #00d4ff);
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 400ms;
    transition-delay: 20ms;
    margin-bottom: 0;
}

.hired-mechanics{
    margin: 0 0 30px 0;
}
.hired-mechanics button{
    width: 250px;
    height: 30px;
    padding: 0;
}

.hired-mechanics button img{
    width: 30px;
    height: 30px;
    margin: 0;
    margin-right: 15px;
    border-radius: 50%;
}

.submit{
    width: 140px;
    height: 50px;
    border: 0;
    padding:12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #00d4ff, #00d4ff);
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 400ms;
    transition-delay: 20ms;
    margin-bottom: 0;
}

.submit:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.welcome-button{
    width: 140px;
    height: 50px;
    border: 0;
    padding:12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #00d4ff, #00d4ff);
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 350ms;
    transition: width 0.5s;
    position: absolute;
    margin-bottom: 0;
    
}

.welcome{
    border-radius: 7px;
    width: 100%;
    height: 69vh;
}

.welcome-info{
    right: 0;
    text-align: left;
    font-weight: bolder;
}

.welcome-button img{
    width: 30px;
    display: none;
}

.welcome-button:hover img{
    display: block;
}

.welcome-button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-caption::after{
    content: "";
    width: 9px;
    height: 50%;
    background: linear-gradient(#00d4ff, #00d4ff);
    position: absolute;
    left: -40px;
    top: 19px;
}

.contactfooter{
    border-right: 1px solid #fff;
}

.mobi{
    margin-top: 25px;
}
.mobi img{
    border-radius: 50%;
}

.mobi h5{
    font-family: 'Bungee Shade';
    font-size: 16px;
    color: #fff;
    font-weight: 600;

}



.footerc{
    margin-left: 65px;
}

.carousel-caption{
    transition-duration: 350ms;
}

.carousel-caption:hover{
    transform: translateX(2%) translateY(-1%);
}


.accountinfo{
    position: absolute;
    background-color: #f1f1ff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    margin-top: 10px;
    z-index: 2200000
}

.account:hover .accountinfo{
    z-index: 9999;
    display: block;
}

.filter-form{
    margin-left: 200px;
}

.form-wrapper{
    max-width:500px;
    margin:auto;
}

.filter{
    margin-top: 20px;
    width: 140px;
    height: 40px;
    border: 0;
    padding:9px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #00d4ff, #00d4ff);
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 0;
}
.accountinfo h6{
    float: left;
    color: black;
    padding:10px;

}

.accountinfo a{
    float: left;
    color: black;
    padding:10px;

}


.col-2 .mechanic{
    width: 100%;
}

.accountinfo a:hover{
    color: black;
}

.findus{
    margin-top: 30px;
} 

.login-form{
    margin-top: 30px;
    border: solid; 
    border-radius: 2%; 
    border-width:thick; 
    padding: 10px;
}

.bottom {
    background: black;
    margin: 40px 2px 30px 2px;
    color: #fff;
    border-radius: 7px;
    padding: 10px;
}

td img{
    width: 30px;
}
td{
    padding: 7px;
}

table, th, td {
    border: 1px solid;
    border-radius: 7px;
}



@media only screen and (max-width:1366px){
    #menu-list{
        display: block;
    }
}
@media only screen and (max-width:700px){

    nav ul{
        width: 100%;
        background: linear-gradient(#00d4ff, #00d4ff);
        position: absolute;
        top: 100px;
        right: 0;
        transition-duration: 350ms;
        z-index: 1;

    }
  

    .welcome-info{
        font-size: 10px;
    }
    .welcome-info h2{
        font-size: 15px;
    }

    .welcome{
        width: 100%;
        height: 30vh;
    }



    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        z-index: 1000;
    }
    .menu-icon{
        display: block;
    }

    #menu-list{
        display: none;
    }
    


}