*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
   
}

.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}

.carousel-caption{
    left: 9%;
    bottom: 6rem;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 0px;
    border-radius: 7px;
    transition-duration: 0.5s;

}

nav ul li a{
    text-decoration: none;
    color: #000;
    padding: 30px 20px;
    font-size: 15px;
}

nav ul li:hover{
    transform: scale(1.1);
    background: #00d4ff;
}

nav ul li a:hover{
    color: #fff;
}
.card{
    transition: transform .2s;
    border-radius: 7px;
    box-shadow: 10px 7px 9px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 7px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 9px -1px rgba(0,0,0,0.75);
}
.card:hover{
    transform: scale(1.1);
}

.card-image{
    margin-bottom: 0;
}
.card-infor{
    font-size: 13px;
    margin: 1px;
}

.contactbt{
    text-decoration: none;
}
.contact{
    width: 100%;
    border: 0;
    padding:12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #00d4ff, #00d4ff);
    border-radius: 8px;
    cursor: pointer;
    transition: width 0.5s;
    display: block;
    margin: auto; 
}

.submit{
    width: 140px;
    height: 50px;
    border: 0;
    padding:12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #00d4ff, #00d4ff);
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 350ms;
    transition: width 0.5s;
    position: absolute;
    margin-bottom: 0;
}
.welcome-button{
    width: 140px;
    height: 50px;
    border: 0;
    padding:12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #00d4ff, #00d4ff);
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 350ms;
    transition: width 0.5s;
    position: absolute;
    margin-bottom: 0;
}

.welcome{
    border-radius: 7px;
    width: 100%;
    height: 69vh;
}

.welcome-info{
    right: 0;
    text-align: left;
    font-weight: bolder;
}

.welcome-button img{
    width: 30px;
    display: none;
}

.welcome-button:hover img{
    display: block;
}

.welcome-button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-caption::after{
    content: "";
    width: 10px;
    height: 50%;
    background: linear-gradient(#00d4ff, #00d4ff);
    position: absolute;
    left: -40px;
    top: 19px;
}

.carousel-caption{
    transition-duration: 350ms;
}

.carousel-caption:hover{
    transform: translateX(2%) translateY(-1%);
}


.accountinfo{
    position: absolute;
    background-color: #f1f1ff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
    margin-top: 10px;
}

.account:hover .accountinfo{
    display: block;
}

.filter-form{
    margin-left: 200px;
}

.filter{
    margin-top: 20px;
    width: 140px;
    height: 40px;
    border: 0;
    padding:9px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #00d4ff, #00d4ff);
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 0;
}

.accountinfo a{
    float: left;
    color: black;
    padding:10px;

}


.col-2 .mechanic{
    width: 100%;
}

.accountinfo a:hover{
    color: black;
}




@media only screen and (max-width:1366px){
    #menu-list{
        display: block;
    }
}
@media only screen and (max-width:700px){

    nav ul{
        width: 100%;
        background: linear-gradient(#00d4ff, #00d4ff);
        position: absolute;
        top: 100px;
        right: 0;
        transition-duration: 350ms;
        z-index: 9999;

    }

    .welcome-info{
        font-size: 10px;
    }
    .welcome-info h2{
        font-size: 15px;
    }

    .welcome{
        width: 100%;
        height: 30vh;
    }



    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu-icon{
        display: block;
    }

    #menu-list{
        display: none;
    }
    


}