<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse for a mechanic here</title>
</head>
<body>
    <div class="container">
        {% include "header.html" %}
        <section class="row">
            <div class="col-4">
                {% for row in rows %}
                    <div class="card" style="width: 18rem;">
                        <img src="data:;base64,{{row[11].decode('utf-8')}}" class="img-fluid card-image"/> <!-- Fetching the image -->
                        <div class="card-body">
                            <p class="card-infor"><b>Name :</b>{{row[1]}} {{row[2]}}</p> <!--fetching the names-->
                            <p class="card-infor"><b>Username: </b>{{row[3]}}</p> <!--fetching the usernma-->
                            <p class="card-infor"><b>Phone number: </b>0{{row[4]}}</p> <!--fetching the phonenumber-->
                            <p class="card-infor"><b>Location: </b> {{row[5]}}</p> <!--fetching the location-->
                            <p class="card-infor"><b>Services: </b> {{row[6]}}</p> <!--fetching the services-->
                            <p class="card-infor"><b>Ratings</b> {{row[12]}} / 10</p> <!--fetching the ratings-->
                            <p class="card-infor"><b>Charges: </b>Ksh: {{row[7]}} per hour</p> <!--fetching the charges-->
                            <a href="" class="contactbt">
                                <button class="contact">Hire</button>                      
                            </a>
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        {% include 'footer.html' %}
    </div>
</body>
</html>