<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to mobimechanic</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/app.js"></script>
</head>
<body>
    <div>
        <section class="row bottom">
            <div class="col-4 contactfooter">
                <div class="footerc">

                    <h4>Contact Us</h4>
                    <table>
                        <tr>
                            <td>Facebook</td>
                            <td><a href="#"><img src="../static/assets/icons/facebook.png" alt="Facebook"></a></td>
                        </tr>
                        <tr>
                            <td>Twitter</td>
                            <td><a href="#"><img src="../static/assets/icons/twitter.png" alt="Twitter"></a></td>
                        </tr>
                        <tr>
                            <td>Instagram</td>
                            <td><a href="#"><img src="../static/assets/icons/instagram.png" alt="Facebook"></a></td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td><a href="#"><img src="../static/assets/icons/phone.png" alt="phone"></a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-4 contactfooter">
                <div class="findus">
                    <h4>Find Us</h4>
                    <li><b>Building: </b>Gateway Mall</li>
                    <li><b>Floor: </b>3rd Floor</li>
                    <li><b>Road: </b>Along Mombasa Road</li>
                </div>
               

            </div>
            <div class="col-4">
                <div class="mobi">
                    <h5>
                        <img src="../static/assets/mainicon.png" alt="" class="logo">
                        MOBIMECHANIC INC                        
                    </h5>
                </div>
            </div>
        </section>
    </div>


</body>
</html>