<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to mobilmechanic</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <script src="app.js"></script>
</head>
<body>
    <div class="navbar">
        <img src="../static/assets/mainicon.png" alt="" class="logo">
        <h4 class="mobimechanic">mobimechanic</h4>
        <nav>
            <ul id="menu-list">
                <li><a href="/">Home</a></li>
                <li><a href="#">Services</a></li>
                <li>
                    <div class="account">
                        <a href="#">Account</a>
                        <div class="accountinfo">
                            {% if session['name'] %}
                            <h6>Logged in</h6>
                            <a href="/logout">Logout</a>
                            {% else %}
                            <a href="/loginu">User-Login</a>
                            <a href="/loginm">Mechanic-Login</a>
                            <a href="/registeru">User Sign Up</a>
                            <a href="/registerm">Mechanic Sign Up</a>
                            {% endif %}
                        </div>
                    </div>
                </li>

            </ul>
        </nav>
        <img src="../static/assets/menu.png" alt="" class="menu-icon" onclick="togglemenu('menu-list')">
    </div>
</body>